<!-- update-student.component.html -->

<h2>Update Student</h2>

<form *ngIf="selectedStudentId && student" (ngSubmit)="updateStudent()">
    <label for="id">Id:</label>
    <input id="id" [(ngModel)]="student.id" name="id" required>
    
  <label for="name">Name:</label>
  <input id="name" [(ngModel)]="student.name" name="name" required>

  <label for="age">Age:</label>
  <input id="age" type="number" [(ngModel)]="student.age" name="age" required>

  <button type="submit">Update Student</button>
</form>

<ul>
  <li *ngFor="let student of students">
    {{ student.name }} 
    <button (click)="onIdChanged(student.id)">Edit</button>
  </li>
</ul>
